 //ARTICLE

//Autores

.autor {
	border-top: 5px solid $verde-claro;
	border-bottom: 5px solid $verde-claro;
	padding: 25px 0;
	font-size: 0.8em;
	line-height: 1.7em;
	margin-bottom: 25px;

	p {
		width: 100%;
		padding-bottom: 0;
	}
	@media (max-width: $tablet) {
		width: 100%;
		float: none;
		display: block;
		margin-top: 20px;
	}

	@media (max-width: $celular) {
		width: 100%;
		float: none;
		margin-top: 20px;
	}
}


blockquote {
	font-size: 0.9em;
	margin: 0;
	padding: 0 40px 20px 40px;
}

img {
	width: 100%;
}

// TABELA 

.tabela {
	padding: 30px 0;
	width: 100%;
	th {
		background-color: $verde;
		color: $bg;
		font-size: 1.1em;
		font-weight: normal;
		padding: 10px;
		text-align: left;
	}
	td {
		background-color: $verde-claro;
		padding: 10px;
	}
}


// PAGINACAO

.pagina {
	font-size: 1em;
	color: #9c9c9c;
	border-bottom: 1px solid #d6d6d6;
	width: 100%;
	display: block;
	margin: 0 0 30px 0;
	text-align: right;
}


//Sumário

.sumario {
	padding: 80px 0 80px 0;
	@media (max-width: $tablet) {
		padding: 30px 15px 30px 15px;
	}
	h1 {
		color: $marrom;
		display: inline-block;
	}

	.iniciarebook {
		float: right;
		font-size: 1.2em;
		font-weight: bold;
		display: inline-block;
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
		@media (max-width: $celular) {
			display: block;
			float: none;
			padding-top: 20px;
		}
	}

	a {				
		display: block;
		color: inherit;
		border-bottom: 1px solid lighten($marrom, 55%);
		span {
		padding: 40px 0 20px 0; 
		font-weight: normal;
		display: inline-block;
		&:nth-child(2){
			float: right;
			}
		}
		&:hover {
			color: $verde;
			border-bottom: 1px solid $marrom;
		}
		@media (max-width: $tablet) {
			span {
		padding: 40px 0 20px 0; 
		font-weight: normal;
		display: inline-block;
		&:nth-child(2){
			display: none;
			}
		}
		}
	}
}

//Ficha técnica

#linha {
	border-top: 2px solid $verde;
}

.ficha {

	width: 50%;
	
	h1, h2, h3, h4 {
		color: $marrom;
		padding: 20px 0 0 0;

	}

	p {
		color: $marrom;
		padding-bottom: 0;
	}

	.ciarufg {
		margin: 50px 0;
		width: 240px;
	}

	@media (max-width: $tablet) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	@media (max-width: $celular) {
		width: 100%;
	}

	.ssan {
		width: 300px;
		padding-bottom: 20px;
	}
}

.isbn {
	border: 1px solid $marrom;
	margin-top: 40px;
	padding: 30px;
	p {
		font-size: 0.9em;
	}
	.dado {
		width: 80px;
		float: left;
	}
	.info {
		float: right;
		width: calc(100% - 80px)
	}
}

#link {
	width: 37%;
	font-weight: normal;
	display: block;
	margin-top: 50px;
	background-color: $verde;
	color: $bg;
	font-size: 1.2em;
	padding: 15px;
	&:hover {
		background-color: $marrom;
	}
	@media (max-width: $tablet) {
		width: 32%;
	}
	@media (max-width: $celular) {
		width: 100%;
		text-align: center;
	}

}

//NOTA DE RODAPÉ

main {
	input[type="checkbox"]{
    position: absolute;
    left: -10000px;
    visibility: hidden;
	}

	label{
    // width: 4px;
    // height: 4px;
    font-size: 0.7em;
    // vertical-align: baseline;
    background-color: #C8D06A;
    font-weight: bold;
    color: black;
    padding: 3px 6px;
    margin: 0 2px 0 2px;
    user-select: none;
	}

	.nota-rodape {
    // border-top: 4px solid $amarelo;
    display: none;
    position: absolute;
    float: right;
    font-size: 1em;
    line-height: 1.4em;
    right: 0;
    width: 266px;
    margin-top: -1em;
    margin-right: 15px;
    color: #000;
    background-color: #C8D06A;
    z-index: 2;
    padding: 25px;
	    a {
	    text-decoration: none;
	    color: #4f00cc;
	    font-weight: normal;
	    text-decoration: underline;
		}
	}
		
	input[type="checkbox"]:checked + label{
    background-color: $verde;
	}	

	input[type="checkbox"]:checked + label + .nota-rodape{
    display: block;
	}
}









